.form__container, .confirm__delete{
position: fixed;
width: 100%;
min-height: 100vh;
background-color: #0004;
z-index: 1;
top: 0;
display: flex;
justify-content: center;
align-items: center;
backdrop-filter: blur(7px);
}

.close__form, .close__confirm-delete {
  visibility: hidden;
}
.container__btn{
  width: 100%;
  padding:  20px 10%;
  display: flex;
  justify-content: space-between;
}
.App__btn, .confirm__delete-btn{
  font-size: 1.2em;
  color: rgba(216, 211, 211, 0.911);
  padding: .5em 2em;
  background-color: #555a88;  
  border-radius: 5px;
  box-shadow: 2px 2px 2px 1px black;
  transition: box-shadow  150ms ease;
}

.App__btn:hover, .confirm__delete-btn:hover{
  filter: brightness(1.2);
  box-shadow: 5px 5px 5px 2px black;
}


.card__container{
  display: grid;
  grid-template-columns: repeat(auto-fit, 300px);
  width: 100%;
  max-width: 1200px;
  gap: 2em;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  padding: 3em;
}






